@model Shane.Church.Web.v2012.Models.Software.SoftwareViewModel
@{
	ViewBag.Title = "Shane Church - Windows Phone";
	ViewBag.Header = "Windows Phone";
	ViewBag.ShortHeader = "Windows Phone";
}

<div class="software-nav">
	<ul class="tabs">
		<li class="first">
			<a id="post-tab-1" href="#tab-1" >Stirling Money</a>
		</li>
		<li>
			<a id="post-tab-2" href="#tab-2" >What I Eat</a>
		</li>
        <li class="last">
            <a id="post-tab-3" href="#tab-3">Stirling Birthday</a>
        </li>
	</ul>
</div>
<div class="panes">
	<div class="pane tab-1" id="tab-1">
		<h2><a href="@Url.Action("WindowsPhone", "Software", new { id = 1 })">Stirling Money</a></h2>
		<div><a href="http://windowsphone.com/s?appid=c81aa8df-5dd6-4afe-b0eb-58a824581535" class="blank"><img src="@Url.Content("~/Content/Images/WindowsPhone_208x67_blu.png")" alt="Windows Phone Marketplace" class="noborder" /></a></div>
		<img class="imagefloat" src="@Url.Content("~/software/windowsphone/stirlingmoney/02.png")" alt="Stirling Money Screenshot - Accounts Screen" style="max-height:400px"/>
		<p>Stirling Money replaces your checkbook register and does all of the math for you.</p>
		<p>Features: </p>
		<ul>
			<li>Manage multiple accounts</li>
			<li>Pin live tiles for direct access to an individual account</li>
			<li>Categorize transactions</li>
			<li>Plan and track budgets and financial goals</li>
			<li>Visualize your financial health and progress with a series of charts</li>
			<li>Search transactions to find individual transactions within an account</li>
			<li>Tap and hold to edit accounts, transactions, categories, budgets, and goals</li>
			<li>Backup and restore from SkyDrive</li>
		</ul>
		<p>
			Version 2.0
		</p>
		<ul>
			<li>Added the ability to create and track budgets and financial goals</li>
			<li>Added visualizations of net income, performance versus budget, and spending by category</li>
			<li>Sort account list alphabetically or by frequency of use</li>
			<li>Added search functionality in transaction list</li>
		</ul>
		<p>
			Version 1.5
		</p>
		<ul>
			<li>Usability enhancements to add/edit transaction flow</li>
			<li>Improved input validation to address crashes where a location was not entered for a transaction</li>
		</ul>
		<p>
			Version 1.4
		</p>
		<ul>
			<li>Adjusted the initial input mechanism for new transactions to speed entry.</li>
		</ul>
		<p>
			Version 1.3
		</p>
		<ul>
			<li>Now free!</li>
			<li>Machine translated into all languages on the Windows Phone Marketplace</li>
		</ul>
		<p>
			Version 1.2
		</p>
		<ul>
			<li>Improved performance loading accounts with large numbers of transactions</li>
			<li>Changed keyboard type for text entry to enable autocomplete</li>
			<li>Fixed sorting of categories and accounts so that they are sorted alphabetically in all lists</li>
		</ul>
		<p>Stirling Money is available in the <a href="http://windowsphone.com/s?appid=c81aa8df-5dd6-4afe-b0eb-58a824581535">Windows Phone Marketplace</a> as a free download.</p>
		<div class="clear">&nbsp;</div>
		<img class="imagefloatleft" src="@Url.Content("~/software/windowsphone/stirlingmoney/ScreenshotSplash.png")" alt="Stirling Money Screenshot - Splash Screen" style="max-height:400px"/>
		<img class="imagefloatleft" src="@Url.Content("~/software/windowsphone/stirlingmoney/03.png")" alt="Stirling Money Screenshot" style="max-height:400px"/>
		<img class="imagefloatleft" src="@Url.Content("~/software/windowsphone/stirlingmoney/04.png")" alt="Stirling Money Screenshot" style="max-height:400px"/>
		<img class="imagefloatleft" src="@Url.Content("~/software/windowsphone/stirlingmoney/05.png")" alt="Stirling Money Screenshot" style="max-height:400px"/>
		<img class="imagefloatleft" src="@Url.Content("~/software/windowsphone/stirlingmoney/06.png")" alt="Stirling Money Screenshot" style="max-height:400px"/>
		<img class="imagefloatleft" src="@Url.Content("~/software/windowsphone/stirlingmoney/07.png")" alt="Stirling Money Screenshot" style="max-height:400px"/>
		<img class="imagefloatleft" src="@Url.Content("~/software/windowsphone/stirlingmoney/08.png")" alt="Stirling Money Screenshot" style="max-height:400px"/>
		<div class="clear">&nbsp;</div>
	</div>
	<div class="pane tab-2" id="tab-2">
		<h2><a href="@Url.Action("WindowsPhone", "Software", new { id = 2 })">What I Eat</a></h2>
		<div><a href="http://www.windowsphone.com/s?appid=225b965d-d41f-440b-9e56-f03a550052e8" class="blank"><img src="@Url.Content("~/Content/Images/WindowsPhone_208x67_blu.png")" alt="Windows Phone Marketplace" class="noborder" /></a></div>
		<img class="imagefloat" src="@Url.Content("~/software/windowsphone/whatieat/1.png")" alt="What I Eat Screenshot - Main Screen" style="max-height:400px"/>
		<p>A simple food journal for Windows Phone</p>
		<p>Want to keep track of what you eat but don't want all of the calorie databases and granular measurements? What I Eat is the app for you! You control the granularity and timing of the entries, and you control what you see.</p>
		<p>Version 1.1 - May 18, 2013</p>
		<ul>
			<li>Fixed bug where items would save on previous day in some time zones.</li>
			<li>Added summary view</li>
			<li>Added optional synchronization with Windows Azure Mobile Services in preparation for a Windows 8/RT companion</li>
		</ul>
		<p>
			1.1.1 Update - June 2, 2013
		</p>
		<ul>
			<li>Minor bug fixes</li>
		</ul>
		<p>Machine translated for broad localization!</p>
		<p>What I Eat is available in the <a href="http://www.windowsphone.com/s?appid=225b965d-d41f-440b-9e56-f03a550052e8">Windows Phone Marketplace</a> as a free download.</p>
		<div class="clear">&nbsp;</div>
		<img class="imagefloatleft" src="@Url.Content("~/software/windowsphone/whatieat/0.png")" alt="What I Eat Screenshot - Splash Screen" style="max-height:400px"/>
		<img class="imagefloatleft" src="@Url.Content("~/software/windowsphone/whatieat/2.png")" alt="What I Eat Screenshot" style="max-height:400px"/>
		<img class="imagefloatleft" src="@Url.Content("~/software/windowsphone/whatieat/3.png")" alt="What I Eat Screenshot" style="max-height:400px"/>
		<img class="imagefloatleft" src="@Url.Content("~/software/windowsphone/whatieat/4.png")" alt="What I Eat Screenshot" style="max-height:400px"/>
		<img class="imagefloatleft" src="@Url.Content("~/software/windowsphone/whatieat/5.png")" alt="What I Eat Screenshot" style="max-height:400px"/>
		<img class="imagefloatleft" src="@Url.Content("~/software/windowsphone/whatieat/6.png")" alt="What I Eat Screenshot" style="max-height:400px"/>
		<img class="imagefloatleft" src="@Url.Content("~/software/windowsphone/whatieat/7.png")" alt="What I Eat Screenshot" style="max-height:400px"/>
		<div class="clear">&nbsp;</div>
	</div>
	<div class="pane tab-3" id="tab-3">
		<h2><a href="@Url.Action("WindowsPhone", "Software", new { id = 3 })">Stirling Birthday</a></h2>
		<div><a href="http://www.windowsphone.com/s?appid=b3f595ea-10ba-4b1c-8833-3b299078010d" class="blank"><img src="@Url.Content("~/Content/Images/WindowsPhone_208x67_blu.png")" alt="Windows Phone Marketplace" class="noborder" /></a></div>
		<img class="imagefloat" src="@Url.Content("~/software/windowsphone/stirlingbirthday/01.WVGA.png")" alt="Stirling Birthday Screenshot - Main Screen" style="max-height:400px"/>
        <p>Stirling Birthday displays your friends' upcoming birthdays on a beautiful live tile!</p>
        <p>Features:</p>
        <ul>
            <li>Full support for all Windows Phone 8 tile sizes</li>
            <li>Call, Text, or Email birthday greetings from the app</li>
            <li>Quickly see all birthdays upcoming in the next month, birthdays from the previous month, and all birthdays for all of your contacts.</li>
            <li>Call, Text, or Email birthday greetings from the app</li>
            <li>Fully localized into 38 languages</li>
        </ul>
		<p>Stirling Birthday is available in the <a href="http://www.windowsphone.com/s?appid=b3f595ea-10ba-4b1c-8833-3b299078010d">Windows Phone Marketplace</a> for $1.49 with a free trial download.</p>
		<div class="clear">&nbsp;</div>
		<img class="imagefloatleft" src="@Url.Content("~/software/windowsphone/stirlingbirthday/02.WVGA.png")" alt="Stirling Birthday Screenshot" style="max-height:400px"/>
		<img class="imagefloatleft" src="@Url.Content("~/software/windowsphone/stirlingbirthday/03.WVGA.png")" alt="Stirling Birthday Screenshot" style="max-height:400px"/>
		<img class="imagefloatleft" src="@Url.Content("~/software/windowsphone/stirlingbirthday/04.WVGA.png")" alt="Stirling Birthday Screenshot" style="max-height:400px"/>
		<img class="imagefloatleft" src="@Url.Content("~/software/windowsphone/stirlingbirthday/05.WVGA.png")" alt="Stirling Birthday Screenshot" style="max-height:400px"/>
		<img class="imagefloatleft" src="@Url.Content("~/software/windowsphone/stirlingbirthday/06.WVGA.png")" alt="Stirling Birthday Screenshot" style="max-height:400px"/>
		<img class="imagefloatleft" src="@Url.Content("~/software/windowsphone/stirlingbirthday/07.WVGA.png")" alt="Stirling Birthday Screenshot" style="max-height:400px"/>
		<img class="imagefloatleft" src="@Url.Content("~/software/windowsphone/stirlingbirthday/08.WVGA.png")" alt="Stirling Birthday Screenshot" style="max-height:400px"/>
		<div class="clear">&nbsp;</div>
	</div>
</div>
@section PostFooter {
	<script src="@Url.Content("~/Scripts/jquery.tools.min.js")" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$().Navigation("initTabs", {
				selectedIndex: @Model.Id
			});
		});
	</script>
}