@model Shane.Church.Web.v2012.Models.Software.SoftwareViewModel
@{
	ViewBag.Title = "Shane Church - Windows Mobile Pocket PC Software";
	ViewBag.Header = "Windows Mobile Pocket PC";
	ViewBag.ShortHeader = "WM Pocket PC";
}
<div class="software-nav">
	<ul class="tabs">
		<li class="first">
			<a id="post-tab-1" href="#tab-1" >Stirling Weather</a>
		</li>
		<li>
			<a id="post-tab-2" href="#tab-2">Pyramid</a >
		</li>
		<li>
			<a id="post-tab-3" href="#tab-3">Clock Solitaire</a>
		</li>
		<li>
			<a id="post-tab-4" href="#tab-4">Four Corners</a>
		</li>
		<li>
			<a id="post-tab-5" href="#tab-5">Currency Converter</a>
		</li>
		<li class="last">
			<a id="post-tab-6" href="#tab-6">Strike Out</a>
		</li>
	</ul>
	<div class="mini-tabs">
		<select>
			<option value="">Application</option>
			<option value="1">Stirling Weather</option>
			<option value="2">Pyramid</option>
			<option value="3">Clock Solitaire</option>
			<option value="4">Four Corners</option>
			<option value="5">Currency Converter</option>
			<option value="6">Strike Out</option>
		</select>
	</div>
</div>
<div class="panes">
	<div class="pane tab-1" id="tab-1">
		<h2><a href="@Url.Action("WMPocketPC", "Software", new { id = 1 })">Stirling Weather</a></h2>
		<h3><a href="@Url.Content("~/software/pocketpc/stirlingweather/StirlingWeatherSetup.msi")">Download</a></h3>
		<img class="imagefloat" src="@Url.Content("~/software/pocketpc/stirlingweather/StirlingWeather1.jpg")" alt="Stirling Weather Screenshot - Current Conditions" />
		<p>
			December 23, 2008 - Stirling Weather 2.2.3279 contains a major rewrite of the application launching logic.  The application
			now remembers the previously selected location on startup.  Startup performance is also significantly improved when more than
			one location is available.  Stirling Weather now only retrieves updated data for the selected location on startup, refreshing 
			other locations when they are selected.  The Update menu item still forces a refresh of all data.  This new version also
			requires the .NET Compact Framework 3.5.
		</p>
		<p>
			December 10, 2007 - Stirling Weather 2.0.2900 fixes an issue affecting locations like Alaska where the National
			Weather Service returns a limited set of forecast data instead of the expected full set of descriptions and icons.
		</p>
		<p>
			November 28, 2007 - Stirling Weather 2.0.2888 fixes an issue updating extended forecasts and adding new locations
			that was created when the National Weather Service switched their servers to a third party caching service.
		</p>
		<p>
			October 31, 2007 - Stirling Weather 2.0.2860 updates the 
			application to use the latest version of the National Weather Service's NDFD web services.  This also allowed
			me to remove the Yahoo Zip Code geocoding since the NDFD web service now performs that function.
		</p>
		<p>
			October 8, 2006 - Stirling Weather 1.1.2468 fixes a bug where zip codes beginning in 0 would not resolve correctly.
		</p>
		<p>
			July 28, 2006 - Stirling Weather 1.1.2400 fixes an intermittent bug where the cache would not save correctly
			as the application was closed.
		</p>
		<p>
			July 13, 2006 - Softonic, the largest download portal in Europe, awards Stirling Weather a 3.5 star rating.
		</p>
		<p>
			July 12, 2006 - Stirling Weather 1.1 adds current radar images for all of the National Weather Service
			regions.
		</p>
		<img class="imagefloatleft" src="@Url.Content("~/software/pocketpc/stirlingweather/StirlingWeather2.jpg")" alt="Stirling Weather Screenshot - Extended Forecast" />
		<p>
			July 5, 2006 - Stirling Weather 1.0.2377 is a minor update to Stirling Weather to deal with an issue
			where the National Weather Service reporting stations do not always follow the NWS XML schema correctly.
			This variance from the schema was causing issues where the data would not parse correctly within 
			Stirling Weather.
		</p>
		<p>
			May 2, 2006 - Following the cease and desist letter from weather.com, 
			I started from scratch and build a new weather application from the ground up
			using weather data from the <a href="http://www.weather.gov/">National Weather Service</a>. 
			Stirling Weather gets the current conditions from any NWS data station and an extended forecast based on 
			the selected Zip Code.  Stirling Weather is only supported on Windows Mobile 5.0.
		</p>
		<div style="width:99%;text-align:center">
			<p>
				<a href="@Url.Content("~/software/pocketpc/stirlingweather/StirlingWeatherSetup.msi")">
					Install Stirling Weather  2.2 (Windows Installer)</a></p>
			<p>
				<a href="@Url.Content("~/software/pocketpc/stirlingweather/StirlingWeather.CAB")">
					Install Stirling Weather  2.2 (Windows Mobile 5.0 CAB)</a></p>
			<p><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&business=shane%40s%2dchurch%2enet&no_shipping=1&no_note=1&tax=0&currency_code=USD&bn=PP%2dDonationsBF&charset=UTF%2d8" class="blank"><img class="borderlessimage" src="https://www.paypal.com/en_US/i/btn/x-click-butcc-donate.gif" alt="Donate via Paypal" /></a></p>
			<p>Requires: <a href="http://www.microsoft.com/downloads/details.aspx?FamilyID=e3821449-3c6b-42f1-9fd9-0041345b3385&displaylang=en">Microsoft .NET Compact Framework 3.5</a>
				<br />
				and
				<br />
				<a href="@Url.Content("~/software/pocketpc/NETCFv35.Messages.EN.wm.cab")">Microsoft System String Resources 3.5</a>
			</p>
		</div>
		<div class="clear">&nbsp;</div>
	</div>
	<div class="pane tab-2" id="tab-2">
		<h2><a href="@Url.Action("WMPocketPC", "Software", new { id = 2 })">Pyramid</a></h2>
		<h3><a href="http://www.mobihand.com/product.asp?id=10796">Purchase</a></h3>
		<img class="imagefloat" src="@Url.Content("~/software/pocketpc/pyramid/PyramidScreen.jpg")" alt="Pyramid Screenshot" />
		<p>
			Pyramid is the classic game of pyramid solitaire. The goal of the game is to remove all of the cards from the tableau (pyramid).
		</p>
		<p>
			March 20, 2008 - Pyramid 2.1.3001 is a minor bugfix release that fixes an issue where a covered king could be removed if the card
			covering it was selected.
		</p>
		<p>
			February 22, 2006 - Pyramid 2.0 has been updated with full Windows Mobile 5.0 support including full VGA support and full support for rotated and square screens.  Pyramid 2.0 is supported on all Pocket PC 2003 and newer devices.
		</p>
		<img class="imagefloatleft" src="@Url.Content("~/software/pocketpc/pyramid/PyramidSquare.jpg")" alt="Pyramid Square Screen" />
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>Pyramid 2.0 is available through MobiHand for $0.99.</p>
		<div style="width:99%;text-align:center">
			<h3><a href="http://www.mobihand.com/product.asp?id=10796">Purchase Pyramid</a></h3>
			<p>Requires: <a href="http://www.microsoft.com/downloads/details.aspx?familyid=9655156b-356b-4a2c-857c-e62f50ae9a55">Microsoft .NET Compact Framework 2.0</a></p>
		</div>
		<div class="clear">&nbsp;</div>
	</div>
	<div class="pane tab-3" id="tab-3">
		<h2><a href="@Url.Action("WMPocketPC", "Software", new { id = 3 })">Clock Solitaire</a></h2>
		<h3><a href="http://www.mobihand.com/product.asp?id=10797">Purchase</a></h3>
		<img class="imagefloat" src="@Url.Content("~/software/pocketpc/clocksol/ClockSolScreen.jpg")" alt="Clock Solitaire Screenshot" />
		<p>
			Clock Solitaire is a fun and addictive solitaire game
			where all of the cards are dealt into 13 piles of 4 cards each. Twelve of the piles
			are arranged in the pattern of a clock, with the thirteenth pile in the center.
			The top card of the center pile is turned up to start the game. To play a card,
			place it on the pile that represents its value on the clock face. Kings are played
			on the center pile. Once a card is played on its correct pile, the top card of that
			pile is turned over. Play continues by placing the new card on its proper pile.
			The game ends when all 52 cards have been correctly placed, or all four Kings have
			been played. If all 52 cards were correctly placed, the game will continue to a
			new round with your score carrying over.
		</p>
		<img class="imagefloatleft" src="@Url.Content("~/software/pocketpc/clocksol/ClockSolSquareScreen.jpg")" alt="Clock Solitaire Square Screen" />
		<p>March 3, 2006 - Clock Solitaire 2.0 has been updated with full Windows Mobile 5.0 support including full VGA support and full support for rotated and square screens.  Clock Solitaire 2.0 is supported on all Pocket PC 2003 and newer devices.</p>
		<p>Clock Solitaire 2.0 is available through MobiHand for $0.99</p>
		<div style="width:99%;text-align:center">
			<h3><a href="http://www.mobihand.com/product.asp?id=10797">Purchase Clock Solitaire</a></h3>
			<p>Requires: <a href="http://www.microsoft.com/downloads/details.aspx?familyid=9655156b-356b-4a2c-857c-e62f50ae9a55">Microsoft .NET Compact Framework 2.0</a></p>
		</div>
		<div class="clear">&nbsp;</div>
	</div>
	<div class="pane tab-4" id="tab-4">
		<h2><a href="@Url.Action("WMPocketPC", "Software", new { id = 4 })">Four Corners</a></h2>
		<h3><a href="http://www.mobihand.com/product.asp?id=10798">Purchase</a></h3>
		<img class="imagefloat" src="@Url.Content("~/software/pocketpc/4corners/fourcornersscreen.jpg")" alt="Four Corners Screenshot"/>
		<p>
			Four Corners is the classic game of "Four Seasons," "Corner
			Card," or "Vanishing Cross" for the Pocket PC.
		</p>
		<p>
			The foundations are the four corners of the board. The tableau is the cross formed
			in the center of the board. The stock is the pile on the bottom left and the wastepile
			is the pile to the right of the stock. The game is dealt by placing five cards into
			the tableau, one in each pile. A sixth card is placed in the bottom left foundation.
			All remaining cards are placed in the stock.
		</p>
		<p>
			The first foundation card forms the basis of all the other foundations. That is,
			the rank of the first foundation card is the starting rank of the other foundations.
			Each foundation is built up in suit until it contains thirteen cards, wrapping around
			from king to ace as necessary. The tableau cards are available for play at any time,
			and may be moved (one card at a time) to the foundations or to another tableau pile.
			The tableau piles may be built down in rank, regardless of suit.
		</p>
		<p>
			The cards in the stock are available for play to the foundations, the tableau, or
			to the wastepile. The wastepile is used as a sort of temporary holding area for
			cards that have no other home. The top card of the wastepile may be moved to either
			the foundations or tableau.
		</p>
		<img class="imagefloatleft" src="@Url.Content("~/software/pocketpc/4corners/fourcornerssquare.jpg")" alt="Four Corners Square Screen" />
		<p>
			The object of the game is to complete the four foundations.
		</p>
		<p>
			March 18, 2006 - Four Corners 2.0 has been updated with full Windows Mobile 5.0 support including full VGA support and full support for rotated and square screens.  Four Corners 2.0 is supported on all Pocket PC 2003 and newer devices.</p>
		<p>
			Four Corners is available through MobiHand for $0.99
		</p>
		<div style="width:99%;text-align:center">
			<h3><a href="http://www.mobihand.com/product.asp?id=10798">Purchase Four Corners</a></h3>
			<p>Requires: <a href="http://www.microsoft.com/downloads/details.aspx?familyid=9655156b-356b-4a2c-857c-e62f50ae9a55">Microsoft .NET Compact Framework 2.0</a></p>
		</div>
		<div class="clear">&nbsp;</div>
	</div>
	<div class="pane tab-5" id="tab-5">
		<h2><a href="@Url.Action("WMPocketPC", "Software", new { id = 5 })">Currency Converter 2005</a></h2>
		<h3><a href="@Url.Content("~/software/pocketpc/currency/CurrencyConverterSetup.msi")">Download</a></h3>
		<img class="imagefloat" src="@Url.Content("~/software/pocketpc/currency/Currency2005.jpg")" alt="Currency Converter 2005 Screenshot" />
		<p>
			May 31, 2006 - Currency Converter 2005 v1.2.2341 has been updated to point at <a href="http://www.webservicex.net">webservicex.net</a>.  The web service moved from webservicex.com to webservicex.net
			over the weekend and Currency Converter 2005 has been updated to reflect this change.
		</p>
		<p>
			February 23, 2006 - Currency Converter 2005 v1.2 has been retooled to use the conversion rates web service at <a href="http://www.webservicex.com">webservicex.com</a>.  
			This update now uses drop downs to select the valid currency abbreviations on the get rates screen instead of using country names, further eliminating confusion about supported currencies.  
			The list of supported countries is also listed on a third tab in the application.
		</p>						    
		<p>
			January 5, 2006 - Currency Converter 2005 v1.1 adds a button to the Get Rates tab
			to refresh all cached exchange rates.  This update also changes the logo at
			the bottom to help with some confusion that only the United States and Canada were
			supported.  Currency Converter 2005 supports all countries listed in the xmethods.net
			web service.
		</p>
		<p>
			December 30, 2005 - Currency Converter 2005 has been completely rewritten with support for Windows Mobile 5 and the new VGA devices. 
			The currency converter uses a webservice provided by <a href="http://www.xmethods.net">
			xmethods.net</a> to download the conversion rates. Once downloaded, the 
			rates are then cached for times when the device does not have an active 
			internet connection.
		</p>
		<div style="width:99%;text-align:center">
			<p><a href="@Url.Content("~/software/pocketpc/currency/CurrencyConverterSetup.msi")">Download Currency Converter 2005 (Windows Installer)</a></p>
			<p><a href="@Url.Content("~/software/pocketpc/currency/CurrencyConverter2005.cab")">Download Currency Converter 2005 (WM 5.0 CAB)</a></p>
			<p><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&business=shane%40s%2dchurch%2enet&no_shipping=1&no_note=1&tax=0&currency_code=USD&bn=PP%2dDonationsBF&charset=UTF%2d8" class="blank"><img class="borderlessimage" src="https://www.paypal.com/en_US/i/btn/x-click-butcc-donate.gif" alt="Donate via Paypal" /></a></p>
			<p>Requires: <a href="http://www.microsoft.com/downloads/details.aspx?familyid=9655156b-356b-4a2c-857c-e62f50ae9a55">Microsoft .NET Compact Framework 2.0</a>
				<br />
				and
				<br />
				<a href="@Url.Content("~/software/pocketpc/dotnet20/System_SR_ENU_wm.cab")">Microsoft System String Resources 2.0</a>
			</p>
		</div>
		<div class="clear">&nbsp;</div>
	</div>
	<div class="pane tab-6" id="tab-6">
		<h2><a href="@Url.Action("WMPocketPC", "Software", new { id = 6 })">Strike Out</a></h2>
		<img class="imagefloat" src="@Url.Content("~/software/pocketpc/StrikeOut/StrikeOutScreen.gif")" alt="Strike Out Screenshot"/>
		<p>
			Strike Out is a baseball themed variant of the popular
			"Bejeweled" game. The goal of the game is to align three or more balls in a row
			by swapping adjacent balls. The game is over when there are no more possible swaps.
		</p>
		<p>
			Strike Out is no longer available for sale as of March 29, 2008.
		</p>
		<div class="clear">&nbsp;</div>
	</div>
</div>

@section PostFooter {
	<script src="@Url.Content("~/Scripts/jquery.tools.min.js")" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$().Navigation("initTabs", {
				selectedIndex: @Model.Id
			});
		});
	</script>
}